<button class="nav-button" mat-raised-button routerLink="/products">
  {{ 'manageProducts' | translate }}
</button>
<h1>{{ 'containers' | translate | uppercase }}</h1>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<table *ngIf="!isLoading" mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>{{ 'name' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;" matTooltip="Click to open container"
  (click)="openContainer(row)"></tr>
</table>
<app-container id="container-form" *ngIf="containerToEdit" [container]="containerToEdit" (refreshContainers)="fetchContainers()"></app-container>

  
  