/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #DFDFDF; }

h1 {
    width: 100%;
    text-align: center;
}

table {
    width: 80%;
}

.form-button {
    margin-left: 20px;
    position: relative;
    bottom: 7px;
}

.nav-button {
    margin: 20px !important;
}

table, mat-spinner {
    margin: auto;
}

.loading-message {
    position: relative;
    left: 47%;
}