
<button class="nav-button" mat-raised-button routerLink="/containers">
  {{ 'backToContainers' | translate }}
</button>
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile 
    [colspan]="4"
    [rowspan]="1">
    <h1>{{ 'products' | translate | uppercase }}</h1>
</mat-grid-tile>
<mat-grid-tile 
    [colspan]="4"
    [rowspan]="1">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form name="productForm" #p="ngForm" *ngIf="!isLoading">
        <button mat-raised-button 
                class="form-button" 
                (click)="addProduct()"
                [disabled]="!productName || !productType">
          {{ 'button.addProduct' | translate | uppercase }}
        </button>
        <mat-form-field appearance="fill">
            <mat-label>{{ 'enterProductName' | translate }}</mat-label>
            <input matInput 
                   requried
                   placeholder="Product name here..."
                   type="text" 
                   [(ngModel)]="productName" 
                   name="name"
                   #n="ngModel"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{ 'enterProductType' | translate }}</mat-label>
            <input matInput 
                   requried
                   placeholder="Product type here..."
                   type="text"
                   [(ngModel)]="productType" 
                   name="t"
                   #t="ngModel"/>
        </mat-form-field>
    </form>
  </mat-grid-tile>
</mat-grid-list>
<table mat-table 
       *ngIf="!isLoading" 
       [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>{{ 'name' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>{{ 'type' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{element.type}}</td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>